<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ family_id == null ? 'Nuevo Usuario' : 'Editar Usuario'}}</h1>
</div>

<div class="card shadow mb-4">
    <div class="card-body">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" formControlName="name">
                    <div class="form-text invalid-input" *ngIf="name?.errors?.['required'] && name?.touched">*Este
                        campo es obligatorio</div>
                </div>
            </div>

            <div class="text-center mt-3">
                <button type="button" class="btn btn-secondary mx-1" aria-label="Left Align" (click)="clearForm()" *ngIf="family_id == null ">
                    <i class="fas fa-eraser mr-2"></i>Limpiar
                </button>
                <app-loading-button class="btn btn-success mx-1" 
                    [type]="buttonTypes.submit"
                    [requestIsSending]="requestIsSending"
                    title="Registrar" (click)="submit()"></app-loading-button>
                
            </div>
        </form>
    </div>
</div>


