
<div id="wrapper">

    <!-- Sidebar -->
    <app-sidebar class=" "></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <app-header></app-header>
            <!-- Topbar -->
            
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <xng-breadcrumb class="xng-breadcrumb mt-3" [separator]="iconTemplate">
                    <ng-template #iconTemplate class="">
                        <i class="fas fa-chevron-right" style="margin-right: 5px;" ></i>
                      </ng-template>
                    <ng-container *xngBreadcrumbItem="let breadcrumb;">   
                        <ng-container >{{ breadcrumb }}</ng-container>
                    </ng-container>
                </xng-breadcrumb>
                <br>
                <router-outlet></router-outlet>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <!--
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Your Website 2021</span>
                </div>
            </div>
        </footer>
        -->
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>