<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ user_id == null ? 'Nuevo Usuario' : 'Editar Usuario'}}</h1>
</div>

<div class="card shadow mb-4">
    <div class="card-body">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label for="first_name" class="form-label">Nombres</label>
                    <input type="text" class="form-control" formControlName="first_name">
                    <div class="form-text invalid-input" *ngIf="first_name?.errors?.['required'] && first_name?.touched">*Este
                        campo es obligatorio</div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <label for="last_name" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" formControlName="last_name">
                    <div class="form-text invalid-input" *ngIf="last_name?.errors?.['required'] && last_name?.touched">*Este
                        campo es obligatorio</div>
                </div>
                <div class="col-md-6 col-sm-12 mt-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" formControlName="email">
                    <div class="form-text invalid-input" *ngIf="email?.errors?.['required'] && email?.touched">*Este
                        campo es obligatorio</div>
                </div>
                <div class="col-md-6 col-sm-12 mt-3">
                    <label class="form-label">Comisaria</label>
                    <select class="form-select" formControlName="family_commissary_id">
                        <option value="" selected>Selecciona una opción</option>
                        <option *ngFor="let item of commisarryList" value="{{ item.id }}">{{ item.name }}</option>
                    </select>
                    <div class="form-text invalid-input"
                        *ngIf="family_commissary_id?.errors?.['required'] && family_commissary_id?.touched">*Este
                        campo es obligatorio</div>
                </div>
                <div class="col-md-6 col-sm-12 mt-3">
                    <label class="form-label">Rol</label>
                    <select class="form-select" formControlName="role_id">
                        <option value="" selected>Selecciona una opción</option>
                        <option *ngFor="let item of roleList" value="{{ item.id }}">{{ item.title }}</option>
                    </select>
                    <div class="form-text invalid-input"
                        *ngIf="role_id?.errors?.['required'] && role_id?.touched">*Este
                        campo es obligatorio</div>
                </div>
                <div class="col-md-6 col-sm-12 mt-3" *ngIf="password != null">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="text" class="form-control" formControlName="password">
                    <div class="form-text invalid-input" *ngIf="password?.errors?.['required'] && password?.touched">*Este
                        campo es obligatorio</div>
                </div>
            </div>

            <div class="text-center mt-3">
                <button type="button" class="btn btn-secondary mx-1" aria-label="Left Align" (click)="clearForm()" *ngIf="user_id == null ">
                    <i class="fas fa-eraser mr-2"></i>Limpiar
                </button>
                <app-loading-button class="btn btn-success mx-1" 
                    [type]="buttonTypes.submit"
                    [requestIsSending]="requestIsSending"
                    title="Registrar" (click)="submit()"></app-loading-button>
                
            </div>
        </form>
    </div>
</div>


