<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Cambiar Contraseña</h1>
</div>
<div class="card shadow mb-4">
    <div class="card-body">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label for="current_password" class="form-label">Contraseña Actual</label>
                    <input type="password" class="form-control" formControlName="current_password">
                    <div class="form-text invalid-input" *ngIf="current_password?.errors?.['required'] && current_password?.touched">*Este
                        campo es obligatorio</div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <label for="password" class="form-label">Nueva Contraseña</label>
                    <input type="password" class="form-control" formControlName="password">
                    <div class="form-text invalid-input" *ngIf="password?.errors?.['required'] && password?.touched">*Este
                        campo es obligatorio</div>
                </div>
                <div class="col-md-6 col-sm-12 mt-3">
                    <label for="password_confirmation" class="form-label">Confirmar Nueva Contraseña</label>
                    <input type="password" class="form-control" formControlName="password_confirmation">
                    <div class="form-text invalid-input" *ngIf="password_confirmation?.errors?.['required'] && password_confirmation?.touched">*Este
                        campo es obligatorio</div>
                </div>
            </div>

            <div class="text-center mt-3">
                <button type="button" class="btn btn-secondary mx-1" aria-label="Left Align" (click)="clearForm()">
                    <i class="fas fa-eraser mr-2"></i>Limpiar
                </button>
                <app-loading-button class="btn btn-success mx-1" 
                    [type]="buttonTypes.submit"
                    [requestIsSending]="requestIsSending"
                    title="Registrar" (click)="submit()"></app-loading-button>
                
            </div>
        </form>
    </div>
</div>