<div class="row">
    <div class="col-lg-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary text-center">Wallet</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="assets\img\coin.png" alt="...">
                </div>
                <p>Panel donde podrás ver la Wallet y la cantidad de Ether disponible para las transacciones</p>
                <a [routerLink]="['./wallet']">Ir a wallet</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary text-center">Usuarios</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="assets\img\50426.jpg" alt="...">
                </div>
                <p>Panel donde se podrás buscar, agregar, editar y bloquear los usuarios.</p>
                <a [routerLink]="['/pagina/administracion/usuarios']">Ir a usuarios</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary text-center">Administrar Comisarías</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="assets\img\city-building.png" alt="...">
                </div>
                <p>Panel donde se podrás buscar, agregar, editar y deshabilitar las comisarías.</p>
                <a [routerLink]="['./comisarias']">Ir a comisarías</a>
            </div>
        </div>
    </div>
</div>